NET "clk" LOC = "P183" | IOSTANDARD = LVCMOS33;

# Port A (LEDs)

NET "datOut<0>" LOC = "P193" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;    
NET "datOut<1>" LOC = "P192" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;  
NET "datOut<2>" LOC = "P190" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;  
NET "datOut<3>" LOC = "P189" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;  
NET "datOut<4>" LOC = "P187" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;  
NET "datOut<5>" LOC = "P186" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;  
NET "datOut<6>" LOC = "P185" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;  
NET "datOut<7>" LOC = "P181" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;     
 
# Port B (Switches)

NET "datIn<0>" LOC = "P180" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ; 
NET "datIn<1>" LOC = "P179" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;    
NET "datIn<2>" LOC = "P178" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "datIn<3>" LOC = "P177" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "datIn<4>" LOC = "P172" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "datIn<5>" LOC = "P171" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "datIn<6>" LOC = "P168" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   
NET "datIn<7>" LOC = "P167" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   

# Port E

NET "addrOut<0>" LOC = "P153" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   #LED1
NET "addrOut<1>" LOC = "P151" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   #LED2
NET "addrOut<2>" LOC = "P147" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   #LED3
NET "addrOut<3>" LOC = "P145" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   #LED4

# Port F

NET "inc" LOC = "P129" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   #Button 1
NET "run" LOC = "P127" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   #Button 2
#NET "clk" LOC = "P123" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   #Button 3
#NET "dec" LOC= "P120" |IOSTANDARD = LVCMOS33 |SLEW = FAST |DRIVE = 8 ;   #Button 4